<%- include("partials/header.ejs") %>

    <body>

        <%- include("partials/navbar.ejs") %>
            <div class="container-fluid row py-2" style="margin-left: auto;margin-right: auto;">
                <% articles.forEach(function(article,index){ %>
                    <% if ((typeof article.url=='object' ) || (typeof article.title=='object' ) || (typeof
                        article.urlToImage=='object' ) || (typeof article.content=='object' )){ %>
                        <% } else{ %>
                            <div class="card col-md-4 py-2 Hover-effect">
                                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                    <img src="<%- article.urlToImage %>" class="img-fluid"
                                        style="height: 300px; width: 100%;" />
                                    <a href="<%- article.url %>">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%- article.title %>
                                    </h5>
                                    <p class="card-text">
                                        <%- article.content.replace(/<[^>]+>/g, '') %>
                                    </p>
                                    <a href="<%- article.url %>" class="btn btn-primary">View More</a>
                                </div>
                                <br>
                                <p
                                    style="margin-bottom: 0px; position: absolute; right: 0; bottom: 0; font-family: ui-monospace;">
                                    Updated: <span style="color:red;">
                                        <%- new Date(article.publishedAt.slice(0,10)).toDateString() %>
                                            <%- moment.utc(article.publishedAt).local().format('hh : mm A') %>
                                    </span></p>
                            </div>
                            <% } %>
                                <% }) %>
            </div>


            <script src="moment.js"></script>
            <script src="moment-timezone-with-data.js"></script>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
            <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.2/mdb.min.js"></script>
    </body>

    </html>